@charset "utf-8";
@import url(../../public/images/이력서사진3.jpg);
#Home{
    height: 100%;
    background: var(--blueC);
}
.homeWrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    
    position: absolute;
    top: 0%;
    background: #083459;
}

.homeImg{
    background: url(../../public/images/이력서사진3.jpg) no-repeat center/cover;
    background-position: 0 100%;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}
.homeTxt{
    width: 32%;
    height: 480px;
    /* outline: 1px dashed red; */
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homeTxt h2{
    font-size: 3vw;
    color: #F5DDB0;
}
.homeTxt h1{
    font-size: 3.5vw;
    color: #F5DDB0;
}
.homeTxt h3{
    font-size: 1.2vw;
    color: #F6F5F1;
}

@media screen and (max-width: 800px) {
    .homeWrap{
        flex-direction: column;
        gap: 0;
    }
    .homeImg{
        width: 45%;
    }
    .homeTxt{
        width: 45%;
        height: 200px;
    }
    .homeTxt h2{
        font-size: 4vw;
    }
    .homeTxt h1{
        font-size: 4vw;
    }
    .homeTxt h3{
        font-size: 2vw;
    }
}

@media screen and (max-width: 450px) {
    .homeImg{
        width: 70%;
    }
    .homeTxt{
        width: 70%;
    }
    .homeTxt h2{
        font-size: 6vw;
    }
    .homeTxt h1{
        font-size: 6vw;
    }
    .homeTxt h3{
        font-size: 4vw;
    }
}