@charset "utf-8";

@font-face {
  font-family: "tmoney-regular";
  src: url(./fonts/TmoneyRoundWindRegular.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tmoney-bold";
  src: url(./fonts/TmoneyRoundWindExtraBold.ttf) format("woff");
  font-weight: bold;
  font-style: normal;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: var(--opacityTarget);
    transform: translateY(0px);
  }
}

:root{
  --blueC : #083459;
  --yellowC : #F5DDB0;
  --whiteC : #F6F5F1;
  --skyC : #93C6D3;
}


html * {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: tmoney-regular;
}
a{
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}

